div {
  width: 100px;
  height: 100px;
  margin: 5px;
}

/* -transition */

.div1 {
  background-color: salmon;
  transition: 1s;
  transition-timing-function: 80% 20%;
}

.div1:hover {
  width: 300px;
}

.div2 {
  background-color: lightblue;
  transition-duration: 1s;
  transition-property: color;
  transition-delay: linear;
}

.div2:hover {
  border-radius: 20px;
  background-color: blue;
  width: 400px;
}

.div3 {
  background-color: teal;
  transition-timing-function: ease-in;
  transition-duration: 3s;
}

.div3:hover {
  background-color: aqua;
  width: 200px;
}

.div4 {
  background-color: deeppink;
}

.div4:hover {
  background-color: white;
  transition-duration: 1s;
}

.div5 {
  background-color: lightgreen;
  transition-timing-function: ease-out;
  transition-duration: 5s;
}

.div5:hover {
  background-color: rgb(43, 116, 43);
  width: 500px;
}

/* -transform */

button {
  padding: 5px 20px;
  margin: 20px;
}

/* translate=shorthand
translate x
translate y
scale=shorthand
scale x
scale y
rotate=shorthand
rotate x
rotate y */

.button1 {
  transform: translateX(80vw) translateY(-200px);
  transform: translate(80vw, -200px);
}

.button2 {
  transform: scaleX(2);
  transform: scaleY(3);
}

.button3 {
  transform: rotatez(60deg);
}

.button5 {
  transform: translateY(200px);
  transition: transform 0.5s ease;
}

.button5:hover {
  transform: translateY(200px) scale(2) rotatez(360deg);
  cursor: pointer;
  background-color: aquamarine;
}

/* -animation */

.animation {
  background-color: goldenrod;
  animation-name: div;
  animation-duration: 2s;
  animation-iteration-count: 3;
  animation-timing-function: ease-in-out;
}

@keyframes div {
  0% {
    background-color: black;
    transform: scale(1) translateX(0px) rotateZ(0deg);
    border: 0;
  }

  50% {
    background-color: gray;
    transform: scale(3) translateX(500px) rotateZ(180deg);
    border-radius: 50%;
  }

  100% {
    background-color: black;
    transform: scale(1) translateX(0px) rotateZ(0deg);
    border: 0;
  }
}
